<!-- bugs.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Bugs</title>
  <style>
    table {
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 5px;
    }
  </style>
</head>
<body>
  <h1>Bugs</h1>

  <!-- Filters -->
  <form method="GET" action="/bugs">
    <label for="labels">Filter by Labels:</label>
    <select name="labels" multiple>
      <option value="label1">Label 1</option>
      <option value="label2">Label 2</option>
      <!-- Add more labels as needed -->
    </select>

    <br>

    <label for="author">Filter by Author:</label>
    <input type="text" name="author">

    <br>

    <input type="submit" value="Apply Filters">
  </form>

  <!-- Search -->
  <form method="GET" action="/bugs">
    <label for="search">Search by Title or Description:</label>
    <input type="text" name="search">

    <br>

    <input type="submit" value="Search">
  </form>

  <!-- Create Issue -->
  <a href="/bugs/new">Create New Issue</a>

  <!-- Bugs Table -->
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Label</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <% bugs.forEach(function(bug) { %>
        <tr>
          <td><%= bug.title %></td>
          <td><%= bug.description %></td>
          <td><%= bug.label %></td>
          <td><%= bug.author %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
